<h1>Welcome to Track Reviews</h1>
<br>
<br>
<h2>Write or read reviews on motorsport venues.</h2>
<div class="content">
      <p>Welcome to Track Reviews! Create an account to start writing reviews.</p>
      <br>
      <p> <a href="new">Click here to create an account.</a></p>
</div>